{% extends "candidates/layout.html" %}

{% block content %}
<div class="profile">
    <img src="{{ candidate.photo.url }}">
    <h1>{{ candidate.name }}</h1>
    <div>Počet hlasů: {{ candidate.votes }}</div>
    <form action="{% url 'candidates:vote' candidate.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Vote">
    </form>
</div>
<div class="bydliste">Bydliště</div>
<div id="map"></div>
<p class="text">{{ candidate.text }}</p>
{% endblock content %}

{% block assets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

<style>
    #map {
        height: 250px;
        width: 100%;
    }

    .profile {
        text-align: center;
        margin-bottom: 24px;
    }

    .profile h1 {
        font-size: 65px;

    }

    .profile img {
        width: 400px;
    }

    .text {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        margin-top: 30px;
    }
    .bydliste {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 40px;
        text-align: center;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var map = L.map('map').setView([{{ candidate.location.y }}, {{ candidate.location.x }}], 11);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var marker = L.marker([{{ candidate.location.y }}, {{ candidate.location.x }}]).addTo(map);
    });
</script>
{% endblock assets %}
