{% extends "candidates/layout.html" %}

{% block content %}
<h1>Vítejte ve Springfieldu!</h1>
<h2>Kdo bude náš nový starosta?</h2>

{% if candidates %}
    <ul class="candidate">
    {% for candidate in candidates %}
        <li><a href="{% url 'candidates:detail' candidate.id %}">{{ candidate.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No candidates are available.</p>
{% endif %}
{% endblock content %}

{% block assets %}
<style>
    body {
        background-color: yellow;
        text-align: center;
        margin-top: 220px;
    }
    h1 {
        font-size: 70px;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 30px;
    }
    .candidate {
        font-size: 20px;
        padding-left: 0;
    }
    .candidate li {
        list-style: none;
        margin-bottom: 10px;
    }
    .candidate a {
        color: black;
        line-height: 1.5;
    }
</style>
{% endblock assets %}
