<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        footer {
            margin-top: 80px;
            text-align: center;
            color: gray;
        }
    </style>
    {% block assets %}{% endblock assets %}
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        Autoři stránky: Rostislav Hořava, Žaneta Rezková, Jakub Řehák
    </footer>
</body>
</html>
